$dark-green-color: #1b2330;
$aqua-color: #62e0d9;
$white-color: #ffffff;
$fil-aqua: #8adae3;
$background: #202A3C;
$background-footer:#0B1524;

$body-ff: "Open Sans", sans-serif;
$heading-ff: "Raleway", sans-serif;
